* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

#header {
    height: 150px;
    background: #1E2024;
}

.head-img {
    width: 68px;
    height: 80px;
    margin: 30px 80px 20px 0;
}

.log {
    width: 73px;
    height: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: -115px;
    margin-left: 110px;
}

.head-menu {
    width: 50%;
    font-weight: 500;
    font-size: 12px;
    color: #9099A3;
    display: flex;
    justify-content: space-between;
    margin-left: 280px;

}

.menu-2 {
    color: #FFFFFF;
}

.head-btn button {
    width: 100px;
    height: 40px;
    background: #1A5CFF;
    box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
    transition: .4s;
    border: none;
    color: white;

}

.head-btn button:hover {
    transform: scale(1.2);
}

.head-btn {
    margin: -40px 0 0 1250px;
}

.head-language {
    width: 31px;
    height: 30px;
    margin: -20px 0 0 1200px;
}

.hero {
    height: 580px;
    background: url("../img/Rectangle 2068.png") no-repeat center/cover;
}

.hero-log {
    color: #FFFFFF;
}

.log-1 {
    padding: 50px 0 0 0;
    height: 54px;
    left: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.mini-log {
    width: 419px;
    height: 81px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.hero-btn {
    width: 178px;
    height: 40px;
    background: #1A5CFF;
    box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    margin: 20px 30px;
}

.hero-btn:hover {
    transition: .4s;
    transform: scale(1.2);
}

.hero-button {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border: 1px solid #9099A3;
    border-radius: 15px;
    color: #9099A3;
    background: transparent;
}

.hero-button:hover {
    transition: .4s;
    transform: scale(1.2);
}

.home {
    width: 10%;
    display: flex;
    justify-content: space-around;
    margin-left: 1200px;
    margin-top: -250px;
}

.hero-home {
    width: 100px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



#mission {
    background: #1E2024;

}

.mission {


}

.log-mission {
    width: 293px;
    height: 54px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    padding: 20px;

}

.table-mission {
    width: 1350px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 15px;

}

.miss-text {
    display: flex;
    justify-content: space-around;
}

.text-mission {
    width: 510px;
    height: 126px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2C3E50;
    padding: 30px;
}

.text-mission-2 {
    width: 510px;
    height: 126px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2C3E50;
    padding: 20px;
}

.text-miss-2 {
    margin: -400px 0 0 800px;
}

.text-question {
    width: 268px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2C3E50;


}

.text-mission-3 {
    width: 394px;
    height: 222px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #2C3E50;
}

.text-mission-4 {
    width: 392px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2C3E50;

}

.text-mission-5 {
    width: 93px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #2C3E50;
}

.text-mission-6 {
    width: 164px;
    height: 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #2C3E50;

}
.signature{
    margin: -60px 0 0 380px;
}

    background: #1E2024;
}
.go{
    display: flex;
    justify-content:center;
}
.start{
    width: 559px;
    height: 54px;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    color: #FFFFFF;

}
.top{
    display: flex;
    justify-content: space-around;

}
.and{
    margin: 50px;

}
.nom{

    width: 15px;
    height: 54px;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.big{
    width: 189px;
    height: 21px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.smoll{
    width: 209px;
    height: 36px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.andtop{

    display: flex;
    justify-content: center;
}
#sectionmoney{
    background: #1E2024;

}
.money{
    display: flex;
    justify-content: center;
}
.bigtext{
    width: 760px;
    height: 54px;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    display: flex;
    justify-content: center;

}
.text{
    width: 869px;
    height: 120px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.followmenu{



}
.follow{
    width: 310px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 15px;
}
.followheader{
    padding: 7px 11px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #2C3E50;
}
.followmoney{
    font-family: 'Poppins',sans-serif;
    font-size: 36px;
    line-height: 54px;
    color: #2C3E50;
}
.discount{

    display: flex;
}
.follownone{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #9099A3;
    display: flex;
    align-items: end;
}
.btn{
    width: 80px;
    height: 20px;
    background: #9099A3;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.minitext{
    font-size: 14px;
    line-height: 21px;
    color: #2C3E50;
}

